*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
    line-height: 1.6;
    background-color: white;
    text-align: center;
}

/*Header*/

.header{
    background-color: black;
    color: lightcoral;
    padding: 20px;
}

.navbar{
width: 100%;
max-width: 1200px;
margin: auto;
}

.navbar ul {
display: flex;
list-style: none;
gap: 20px;
padding: 14px 16px;
}

.navbar a{
color: white;
text-decoration: none;
transition: background 0.3s;
}

.navbar a:hover{
color: lightcoral;
}

/*Logo*/
.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img {
    height: 40px;
    width: auto;
    border-radius: 10px;
}

/*Productos*/

.navprod {
    background-color: white;
    padding: 10px;
}
.navprod ul{
display: flex;
list-style: none;
justify-content: center;
gap: 20px;
padding: 14px 16px;
}
.navprod a{
    display: flex;
    flex-direction: column;
    list-style: none;
    text-decoration: none;
    color: black;
    padding: 15px;
    align-items: center;
    transition: background 0.3s;
    width: 100%;
    max-width: 300px;
    margin: auto;
}

.navprod img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 5px;
}

.navprod a:hover {
    background-color: lightgray;
    border-radius: 5px;
}

/*Acerca*/

.caja-acerca{
display: flex;
column-gap: 20px;
border: 2px solid #333;
padding: 15px;
border-radius: 10px;
background-color: lightgray;
text-align: center;
margin: 5px;
}
.contenedor-columnas {
  display: flex;
  column-gap: 20px;
}
.columna {
  flex: 1;
  padding: 10px;
}

/*Seccion contacto*/
.contacto-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    justify-content: center;
}

/*Direccion*/

.contacto-form h3,
.contacto-dir h3,
.contacto-dir p{
    display: flex;
    align-items: center;
    margin-left: 40px;
}

.contacto-dir iframe{
    margin-left: 30px;
    padding: 10px;
    border-radius: 10px;
    width: 60%;
    height: 60%;
}

/*Formulario*/

.contacto-form form{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 10px;
    margin-left: 30px;
}

.contacto-form input,
.contacto-form textarea{
    width: 50%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.contacto-form textarea {
    min-height: 120px;
}

.contacto-form button{
    padding: 10px 30px;
    border: 1px solid black;
    border-radius: 20px;
    cursor: pointer;
    width: fit-content;
}

label {
display: inline-block;
width: 120px;
}

/*Footer*/

.footer{
background-color: grey;
text-align: center;
margin-left: 5px auto;
}